<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 flex-column flex-md-row">
        <a class="navbar-brand" href="#" th:text="${title}"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${username.isPresent()}" >
                    <a class="nav-link" href="#" th:text="'Profile'"></a>
                </li>
                <li class="nav-item" th:if="${username.isPresent()}" >
                    <a class="nav-link" href="#" th:text="'Logged in as ' + ${username.get()}"></a>
                </li>
                <li class="nav-item" th:if="${username.isEmpty()}" >
                    <a class="nav-link" href="/login" th:text="'Not logged in. Log in?'"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perform_logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>