<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="includes/header :: header"></div>
<div class="container">
    <h1>Login with your username or email</h1>

    <div class="text-danger" th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>

    <div class="text-success" th:if="${param.logout}">
        <p>Log out successfully!</p>
    </div>

    <div class="text-success" th:if="${param.signup}">
        <p>Create new user successfully!</p>
    </div>

    <div>
        <form action="login" th:action="@{/login}" method="post">
            <div class="form-group col-md-4">
                <label for="username">User Name/Email :</label>
                <input id="username" type="text" name="username"
                       class="form-control" th:required="required"/>
            </div>
            <div class="form-group col-md-4">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password"
                       class="form-control" th:required="required"/>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" role="button" value="Login"/>
                <a class="btn btn-primary" href="signup">Sign up</a>
            </div>
        </form>
    </div>
</div>
</body>
<script>
window.onload = () => {
    let p = window.performance.getEntriesByType("navigation")[0].type;
    if (p === 'reload') {
        window.history.replaceState(null, null, window.location.pathname);
    }
}
</script>
</html>