<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript" src="/js/registrationFormAuthentication.js"></script>
</head>
<body>
<div th:replace="includes/header :: header"></div>
<div class="container">
    <h1>Sign up new user</h1>

    <div th:if="${signup != null && !signup}" >
        <p th:each="info:${infos}">
            <span class="text-danger"
                th:text="${info} + ' has already existed!'"></span>
        </p>
    </div>

    <div>
        <form action="signup" th:action="@{/signup}"
              th:object="${user}" method="post" id="registration">
            <div class="form-group col-md-4">
                <label for="username">User Name :</label>
                <input id="username" type="text"
                       name="username" class="form-control"
                       th:field="*{username}"
                       th:required="required"/>
            </div>
            <div class="form-group col-md-4">
                <label for="password">Password:</label>
                <input id="password" type="password"
                       name="password" class="form-control"
                       th:field="*{password}"
                       th:required="required"/>
            </div>
            <div class="form-group col-md-4">
                <label for="matchPassword">Confirm password:</label>
                <input id="matchPassword" type="password"
                       name="matchPassword" class="form-control"
                       th:required="required"
                       style="display: inline-block"/>
            </div>
            <div class="form-group col-md-4">
                <label for="email">Email :</label>
                <input id="email" type="text"
                       name="email" class="form-control"
                       th:field="*{email}"
                       th:required="required"
                       style="display: inline-block"/>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary"
                       role="button" value="Add new user ">
            </div>
        </form>
    </div>
</div>
</body>
</html>