<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="includes/header :: header"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Author </th>
            <th> Title </th>
            <th> ISBN </th>
            <th> Year </th>
            <th> Category </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.year}"></td>
            <td th:if="${book.category != null}" th:text="${book.category.name}"></td>
            <td th:if="${book.category == null}" th:text="unknown"></td>
            <td>
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-success" role="button" aria-pressed="true">Delete</a>
            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-warning" role="button" aria-pressed="true">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="/addbook">Add Book</a>

</body>
</html>